.sidebar-flex-toggle{
  display: none;
}

.sidebar-flex{
  display: flex;
  flex-direction: column;
}

.sidebar-menu{
  font-size: 16px;
  margin-top: 0;
  text-decoration: none;
  margin-bottom: 5px;
}

.sidebar-flex{
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 4px;
  width: 75px;
}

.sidebar-item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background-color: rgb(248, 248, 248);
  box-shadow: 1px 1px 1px rgba(0, 0, 10, 0.1);
  border-radius: 10px;
}

.sidebar-item>a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: rgb(104, 104, 104);
  padding-top: 10px;
}

.sidebar-item>a:hover{
  background-color: rgb(242, 242, 255);
  color: rgb(68, 68, 68);
  border-radius: 10px;

}

.sidebar-item>.active{
  background-color: rgb(218, 219, 255);
  color: rgb(27, 27, 27);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 10, 0.4);
}





