.sidebar-flex-toggle{
  display: none;
}

.sidebar-flex{
  display: flex;
  flex-direction: column;
}

.sidebar-menu{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  text-decoration: none;
}

.sidebar-flex{
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 80px;
}

.sidebar-item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item>a{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: rgb(104, 104, 104);
  padding-top: 10px;
}

.sidebar-item>a:hover{
  background-color: rgb(231, 230, 230);
  color: rgb(100, 100, 100);
}

.sidebar-item>.active{
  background-color: rgb(236, 234, 234);
  color: rgb(100, 100, 100);
}





