.thumbnail{
  width: 100%;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}

.thumbnail:hover{
  z-index: 0;
  width: 102%;
}

.thumbnail-div{
  width: 90% !important;
  aspect-ratio: 8 / 5;
  position: relative;
}

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

.video:hover{
  background-color: #fbfdff;
  
}

#play_circle_show{
  color: #23ffeb;
  position: absolute;
  top: 22%;
  left: 30%;
  font-size: 100px !important;
}

#play_circle_show:hover{
  z-index: 1;
}


.title{
  font-size: 14px;
  font-weight: 600;
  margin-top: 2px;
  color: rgb(58, 57, 57);
  margin-bottom: 2px;
}

.channel-name{
  font-size: 12px;
  color: grey;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}


.all-video-grid{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: 1fr ;
}


.button-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  background-color: aliceblue;
  padding: 5px;
}


.data{
  background-color: rgb(209, 247, 232);
  padding: 5px;
  border-radius: 8px;
}

.written-section{
  width: 90%;
  font-size: 12px;
}

@media screen and (min-width: 0px) {

  .all-video-grid{
    grid-template-columns: 1fr
  }

}

@media screen and (min-width: 0px) {

  .all-video-grid{
    grid-template-columns: 1fr
  }

}


@media screen and (min-width: 626px){
  .all-video-grid{
    grid-template-columns: 1fr 1fr
  }

}



@media screen and (min-width: 800px){
  .all-video-grid{
    grid-template-columns: 1fr 1fr 1fr
  }

}


@media screen and (min-width: 1024px){
  .all-video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr
  }

}
