.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  position:fixed;
  top: 0;
  height:30px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

#menu{
  padding-left: 30px;
  color: rgb(140, 140, 140);
  padding-right: 10px;
  cursor: pointer;
}


.logo{
  height: 28px;
  padding-bottom: 3px;
  margin-left: 30px;
  cursor: pointer;
  
}



.mid-header{
  padding-bottom: 3px;
  display: flex;
}

.search-bar{
  height: 24px;
  width: 400px;
  border-width: 1px;
  border-color: rgb(197, 197, 197);
  border-style: solid;
  border-bottom-left-radius:12px ;
  border-top-left-radius: 12px;
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(131,131,131);
}

.search-bar:focus{
  border-color: rgb(117, 117, 117);
  outline: none;
}

.search-bar::placeholder{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  
}

.search-icon-background{
  height: 28px;
  width: 32px;
  background-color: rgb(225, 225, 225);
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  cursor: pointer;
}


#search{
  padding-top: 3px;
  padding-left: 3px;
}



.settings{
  margin-right: 12px;
  margin-left: 0px;
  cursor:pointer;
}

.settings:active{
  transform:rotate(90deg)
}

@media (max-width : 760px){

  .logo{
    display: inline-block;
    margin-left: 10px;
  }


  

}


@media (max-width : 675px){
  #apps{
    display: none;
  }
}

@media (max-width : 420px){
  .search-bar{
    width: '200px';
  }
}

@media (max-width : 680px){
  .search-bar{
    width: 330px;
  }
 
}



@media (max-width : 570px){
  .search-bar{
    width: 230px;
  }
 
}



@media (max-width : 470px){
  .search-bar{
    width: 180px;
  }

 
}


@media (max-width : 410px){
  .search-bar{
    width: 130px;
  }


  #menu{
    padding-right: 0px;
    padding-left: 10px;
  }

  .logo{
    margin-left: 5px;
  }

}


@media (max-width : 330px){
  .search-bar{
    width: 100px;
  }
}

.delete-div{
  position:fixed;
  top:40px;
  right: 0px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  width: 70px;
  
}


.settings{
  color: rgb(117, 117, 117);
}


.settings:hover{
  color: rgb(0, 0, 0);
}

.settings:active{
  color: rgb(0, 0, 0);
}

.delete-button{
  background-color: rgb(197, 6, 6);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  border-width : 0;
  padding: 5px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  height: 70px;

}

.delete-button:hover{
  background-color: white;
  color: rgb(197, 6, 6);
  border-color: rgb(197, 6, 6);
  border-width: 1px;
}





