.buttons-inactive{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border-radius:5px;
  padding: 8px 20px 8px 20px;
  border: none;
  margin: 5px 10px 5px 10px;
  color: black;
  cursor: pointer;
  background-color: aliceblue;
}

.button-slider{
  margin-top: 60px;
}

.buttons-inactive:hover{
  background-color: rgb(1, 1, 58);
  color: white;
}





